@media(max-width:1500px ){
	.menu{
		display: none;
	}

}
@media(max-width:1250px ){
	.proffwork .item .item-text h3{
		font-size: 20px;
	}

}

@media(max-width:1450px ){
	.fac-title h3{
		font-size: 4em;
	}	
	.faculties .fac-item{
		width: 500px;
		margin: 50px auto;
	}

}
@media(max-width:1100px ){
	.main-sec-text h1{
		font-size: 25px;
		line-height:40px;
	}
	.info-btns button{
		font-size: 15px;
	}
	.about {
		margin-right: 10px;
	}
	.proffwork {
		flex-direction: column;
	}
	.proffwork .item{
		flex-direction: column;
	}
	.proffwork .item .item-text{
		margin-bottom: 150px;
	}
	.proffwork .item .item-text h3{
		font-size: 40px;
	}
	.train-itm-btns .smpl-btn{
		padding: 10px 20px;
	}
	.services .service-item{
		margin: 20px auto;
	}
	.services .service-item{
		margin: 20px auto;
	}

}
@media(max-width:830px ){
	.main-sec-text h1{
		font-size: 25px;
		line-height:40px;
	}
	.info-btns button{
		font-size: 15px;
	}
	.about {
		margin-right: 10px;
	}
	.proffwork {
		flex-direction: column;
	}
	.proffwork .item{
		flex-direction: column;
	}
	.proffwork .item .item-text{
		margin-bottom: 150px;
	}
	.proffwork .item .item-text h3{
		font-size: 40px;
	}
	.train-itm-btns .smpl-btn{
		padding: 12px 10px;
	}

}
@media(max-width:800px){
	body{
		background: url('../../images/backgroundmobile.png');
		border-color: yellow;
		background-repeat:no-repeat;
		background-size: 100%;
		background-position:top center;
	}
	.bar-icon{
		display: block;
	}
	.bar-icon i{
		font-size: 30px;
		color: white;
		cursor: pointer;
	}
	.logoname span{
	color:#fbe8f8;
	font-family: Montserrat;
	margin-right: 10px;
    }
    .info-btns{
    	display: flex;
    	justify-content: center;
    }
    .order-ring {
    	display: none;
    }
     .logoname{    
	color: white;
   }
   .lang, .enter{
   	display: none;
   }
   #robot{
   	display: block;
   	width: 80%;
   }
   #girl-it{
   	display: none;
   }
  
	.main-section{
	padding: 20px 0;
	}
	.main-sec-text h1{
	font-size: 15px;
	line-height:20px;
	}
	.main-sec-text {
    flex-basis: 70%;
	}
	.info-btns button{
	font-size: 15px;
	}
	.about {
	margin-right: 10px;
	}
	.proffwork {
	flex-direction: column;
	padding: 120px  0 0 0;
	}
	.proffwork .item{
	flex-direction: column;
	margin-bottom: 60px;
	}
	.proffwork .item:last-of-type{
	flex-direction: column;
	margin-bottom: 0px;
	}
	.proffwork .item .item-text{
	margin-bottom: 50px;
	}
	.proffwork .item .item-text h3{
	font-size: 20px;
	}
	.videoclip{
	flex-direction: column;
	}
	.videoclip-text h3{
	font-size: 20px;
	text-align: center;
	}
	.videoclip-text p{
	font-size:20px;
	text-align: center;
	}
	.videoclip-text-img{
	display: none;
	}
	.videoclip-video{
	width:400px;
	height: 400px;
	}
	.videoclip-video .mid-frame{
	width: 70%;
	}
	.fac-title h3{
		font-size: 2em;
	}
	.trainings{
	flex-direction: column;
	}
	.trainings .trainings-item{
	flex-basis: 70%;
	margin-bottom: 30px;
	}
	.services{
	flex-wrap: nowrap;
	flex-direction: column;
	}
	.services .services-item{
	margin: 30px auto;
	}
	.services .service-item .serv-info h2 {
	font-size: 20px;
	}
	.subscribe-main-elems{
		font-size: 20px;
	}
	.subscribe-main-elems {
    align-items: center;
    flex-direction: column;   
	}
	.subscribe-main-elems input{
		margin: 30px 0;
	}
	.subscribe-main-elems button{
		width: 100%;
	}
	.footer_items{
		flex-direction: column;
	}
	.footer_item:nth-of-type(2) ul li, .footer_item:nth-of-type(3) ul li, .footer_item:nth-of-type(4) ul li{
	text-align: left;
	}
	.footer_bot_text p{
		display: none;
	}
	#copyright{
		display: block;
	}
}

@media (max-width:600px) {
	.main-header > .nav > .nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.main-header > .nav > .nav-btn > label {
		display: inline-block;
		box-sizing: border-box;
		width: 50px;
		height: 50px;
		padding: 13px;
	}
	.main-header >  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
		background-color: rgba(0, 0, 0, 0.3);
	}
	.main-header > .nav > .nav-btn > label > span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	}
	.main-header > .nav > .nav-links {
		position: absolute;
		display: block;
		width: 100%;
		background-color: #333;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	}
	.main-header > .nav > .nav-links > a {
		display: block;
		width: 100%;
	}
	.main-header > .nav > #nav-check:not(:checked) ~ .nav-links {
		height: 0px;
	}
	.main-header > .nav > #nav-check:checked ~ .nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
	.slider4 {
	}
	.slider4 >  .swiper-wrapper > .swiper-slide  {
		flex-basis: 70% !important;
		width: 70% !important;
		font-size: 9px;
	}
	.slider4 >  .swiper-wrapper > .swiper-slide > .main-fac-item > .fac-name  {
	padding: 30px 2px 10px !important;
		font-size: 13px;
	}
}

@media(max-width:600px){
	body{
		background: url('../../images/backgroundmobile.svg');
		border-color: yellow;
		background-repeat:no-repeat;
		background-size: 100%;
		background-position:top center;
	}
	.bar-icon{
		display: block;
	}
	.bar-icon i{
		font-size: 30px;
		color: white;
		cursor: pointer;
	}
	.logoname span{
	color:#fbe8f8;
	font-family: Montserrat;
	margin-right: 10px;
    }
    .info-btns{
    	display: flex;
    	justify-content: center;
    }
    .order-ring {
    	display: none;
    }
     .logoname{    
	color: white;
   }
   .lang, .enter{
   	display: none;
   }
   #robot{
   	display: block;
   	width: 80%;
   }
   #girl-it{
   	display: none;
   }
  
	.main-section{
	padding: 20px 0;
	}
	.main-sec-text h1{
	font-size: 15px;
	line-height:20px;
	}
	.main-sec-text {
    flex-basis: 70%;
	}
	.info-btns button{
	font-size: 8px;
	}
	.about {
	margin-right: 10px;
	}
	.proffwork {
	flex-direction: column;
	padding: 120px  0 0 0;
	}
	.proffwork .item{
	flex-direction: column;
	margin-bottom: 60px;
	}
	.proffwork .item:last-of-type{
	flex-direction: column;
	margin-bottom: 0px;
	}
	.proffwork .item .item-text{
	margin-bottom: 50px;
	}
	.proffwork .item .item-text h3{
	font-size: 20px;
	}
	.videoclip{
	flex-direction: column;
	}
	.videoclip-text h3{
	font-size: 20px;
	text-align: center;
	}
	.videoclip-text p{
	font-size:20px;
	text-align: center;
	}
	.videoclip-text-img{
	display: none;
	}
	.videoclip-video{
	width:200px;
	height: 200px;
	}
	.videoclip-video .mid-frame{
	width: 70%;
	}
	.fac-title h3{
		font-size: 2em;
	}
	.trainings{
	flex-direction: column;
	}
	.trainings .trainings-item{
	flex-basis: 70%;
	margin-bottom: 30px;
	}
	#trains h3{
		font-size: 20px;
	}
	.services{
	flex-wrap: nowrap;
	flex-direction: column;
	}
	.services .service-item{
	width: 85%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	.services .service-item .serv-info .container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

	}
	.services .service-item .serv-info h2 {
	font-size: 15px;
	padding: 5px 50px;
		text-align: center;
	}
	#services_sec h3{
		font-size: 22px;
	}
	.subscribe-main-elems {
    align-items: center;
    flex-direction: column;   
	}
	.subscribe-main-elems input{
		width: 200px;
		margin: 30px 0;
	}
	.subscribe-main-elems button{
		width: 100%;
		font-size: 15px;
	}
	.subscribe-main-elems h3{
		font-size: 20px;
	}
	.footer_items{
		flex-direction: column;
	}
	.footer_item:nth-of-type(2) ul li, .footer_item:nth-of-type(3) ul li, .footer_item:nth-of-type(4) ul li{
	text-align: left;
	}
	.footer_bot_text p{
		display: none;
	}
	#copyright{
		display: block;
	}
}